# pip install -r requirements.txt
# pip install -r requirements.txt -U

Flask
markdown
py_markdown_table
requests
PyPDF
PyMuPDF
pdfplumber

nltk
pandas
openai
matplotlib

SQLAlchemy
flask-sqlalchemy

fastapi[standard]
uvicorn[standard]
jinja2
dataclasses-json


streamlit