<h3>
    ChatGPT context for benchmarks and sentences
</h3>

<form action="" method="post">

    {% for    item in listContexts %}

        <div style="margin-bottom: 1rem;">

            <span style="vertical-align: top;">
                -{{ loop.index }}-
            </span>
            
            <input    name="ctx{{loop.index}}sh"   type="text"    value="{{ item.short}}"   >
            <textarea name="ctx{{loop.index}}lg"   cols="110" rows="3">{{ item.long }}</textarea>
            <input    name="ctx{{loop.index}}_del" type="checkbox"   title="delete"   >
            
        </div>


    {% endfor %}


    <button accesskey="s" autofocus><u>S</u>ubmit</button>
</form>

