<h3>
    Request chat GPT
</h3>

<br>

<form action="" method="POST">

    <label class="label-input" for="belief-statement">Belief statement</label>
    <textarea  cols="120" rows="4"  name="belief-statement">{{beliefStatement}}</textarea>
    <br>

    <label class="label-input" for="speech">Speech</label>
    <textarea  cols="120" rows="6"  name="speech"           >{{speech}}</textarea>
    <br>

    <label class="label-input" for="submit-1"> &nbsp; </label>
    <button name="submit-1" accesskey="a" > <u>A</u>sk </button>


    <div style="display: none;">
        <label class="label-input" for="seed">Seed</label>
        <input type="text" name="seed" value="100">
        <!-- <br> -->
    
        <label class="label-input" for="model">model</label>
        <input type="text" name="model" value="gpt-4">
        <br>
    
    </div>





</form>        

<br>


<p class="label-input" >Prompt: </p> <span class="pre-llm">{{prompt}}</span>  
<br>
