
<h3>LLM embeddings and LLM chat completion for text classification</h3>

<ul class="main-body">
    <li> <a href="/contexts-edit"         > Contexts        </a>  </li>
    <li> <a href="/benchmarks-edit"       > Benchmarks      </a>  </li>
    <li> <a href="/samples-edit"          > Text samples      </a>  </li>
    <div style="margin-left: 3rem;margin-bottom: 1.5rem">       
        <li> <a href="/upload-file" > Upload files </a>  </li>
        <li> <a href="/samples-import"          > Text samples import      </a>  </li>
    </div>

    <li> <a href="/templates-edit"        > Templates for prompt pipelines      </a>  </li>


    <li> <a href="/embeddings-basics"     > Embeddings - for benchmarks - basics   </a>  </li>
    <li> <a href="/embeddings-similarity" > Embeddings - Similarity </a>  </li>

</ul>


<br>
<hr>
<br>

<ul>
    <li>
        <a href="/config-edit">Edit config</a>
    </li>
    <li>
        <a href="/save-all">Save all data</a> &nbsp; &nbsp; (contexts, benchmarks, samples, embeddings)
    </li>
    <li>
        <a href="/generate-stream-example">Stream-Flush</a>
    </li>
    <li>
        <a href="/slides">Slides</a>
    </li>
</ul>


<h4>fast api</h4>

<ul>
    <li>
        <a href="/upload-file">Upload files</a>
    </li>
    <li>
        <a href="/generate-stream-example">Stream</a>
    </li>
    <li>
        <a href="/static-explicit/img/slide-background-wider-3.jpg">Static 2</a>
    </li>
    <li>
        <a href="/doc/img/embeddings-granularity.jpg">doc img</a>
    </li>
    <li>
        <a href="/slides">Slides</a>
    </li>
    <li>
        <a href="/db">DB</a>
    </li>
</ul>

