<h3>Embeddings - scalar similarity</h3>
<ul class="main-body">
    <li> <a href="/contexts-edit"         > Contexts        </a>  </li>
    <li> <a href="/benchmarks-edit"       > Benchmarks      </a>  </li>
    <li> <a href="/samples-edit"          > Text samples      </a>  </li>

    <div style="margin-left: 3rem;margin-bottom: 1.5rem">       
        <li> <a href="/upload-file" > Upload files </a>  </li>
        <li> <a href="/samples-import"          > Text samples import      </a>  </li>
    </div>

    <li> <a href="/embeddings-basics"     > Embeddings - for benchmarks - basics   </a>  </li>
    <li> <a href="/embeddings-similarity" > Embeddings - Similarity </a>  </li>

</ul>


<hr>

<ul>
    <li>
        <a href="/config-edit">Edit config</a>
    </li>


</ul>

