
<h3>Data extraction toolkit - employing LLMs</h3>

<ul class="main-body">

    <li> <a href="/samples/edit"          > Text samples      </a>  
        &nbsp; &nbsp; <small>ECB speeches, Muni minutes, CbCRs</small>  
    </li>

    <ul>
        <li>   <a href="/samples/import"> Import   </a>  </li>
        <li>   <a href="/upload/file"   > Upload files          </a>  </li>
    </ul>

    <li> <a href="/benchmarks/edit"       > Benchmark and belief statements"     </a>  
    </li>

    <!-- <br> -->

    <li> <a href="/pipelines/edit"        > Pipelines </a> 
        &nbsp; &nbsp; <small>prompts, classifiers, branches</small>  
    </li>

    <ul>
        <li> <a href="/contexts/edit"         > Contexts        </a>  
        </li>
    </ul>

</ul>

<hra>

<ul class="main-body">

    <li> <a href="/embeddings/basics"     > Embeddings - for benchmarks - basics   </a>  </li>
    <li> <a href="/embeddings/similarity" > Embeddings - similarity </a>  </li>

</ul>


<hra>

<ul class="main-body">
    <li>
        <a href="/slides">Slides, Docs</a>
    </li>






</ul>




<ul class="main-body">


    <li>
        <a href="/config/edit">Edit config</a>  &nbsp; &nbsp; <small>dataset switch</small>
    </li>
    <li>
        <a href="/data/save-all">Save all data</a> &nbsp; &nbsp; <small>benchmarks, samples, pipelines, config</small>  
    </li>


    <!-- <h4>fast api</h4> -->
    <ul>
        <li>
            <a href="/generate-stream">Stream-Flush</a>
        </li>
        <li>
            <a href="/static-explicit/img/slide-background-wider-3.jpg">Static 2</a>
        </li>
        <li>
            <a href="/doc/img/embeddings-granularity.jpg">doc img</a>
        </li>
        <li>
            <a href="/embeddings/top3/obj">DB objects</a>
        </li>
        <li>
            <a href="/embeddings/top3/json">DB json</a>
        </li>
    </ul>

</ul>
