<h3>
    Pipelines - stages of prompts
</h3>


<form action="" method="post">

    {% for    item in listPipelines %}

        <div style="margin-bottom: 1rem;">

            <span style="vertical-align: middle;font-weight: bold;">
                {{ loop.index }}. &nbsp;
            </span>

            <input    name="pipeline{{loop.index}}_descr"   size="87"  type="text"
                value="{{ item.descr}}"   placeholder="description"   >
            <input    name="pipeline{{loop.index}}_role"    size="87"  type="text"
                value="{{ item.role}}"    placeholder="role">
                <br>
                <!-- {{ item.stages }} -->
            {% set index1 = loop.index %}
            {% for    item2 in item.stages %}


                {% set sShrt = item2.short %}
                {% set sLong = item2.long  %}
                {% set sRem  = item2.remark  %}

                {% set rows = 1 %}
                {% if sLong|length > 80 %}
                    {% set rows = 2 %}
                {% endif %}
                {% if sLong|length > 110 %}
                    {% set rows = 3 %}
                {% endif %}

                {% if sLong|length > 220 %}
                    {% set rows = (sLong|length / 110) + 1 %}
                {% endif %}

                <!-- 
                    -{{  sLong|length  }}-
                 -->

                <div style="margin-left: 1.85rem">
                    <span style="font-size: 90%; vertical-align: top;">
                        {{ loop.index }}.
                    </span>


                    <input type="text"
                        name="stage{{index1}}_st{{loop.index}}_shrt"
                        size="72"
                        value="{{ sShrt }}"
                        placeholder="short"
                    >
                    <br>


                    <textarea name="stage{{index1}}_st{{loop.index}}_rem"
                        rows="3"  cols="110"
                        style="margin-left: 1.4rem;"
                        placeholder="remark"
                    >{{ sRem }}</textarea>
                    <br>


                    <textarea name="stage{{index1}}_st{{loop.index}}_long"
                        rows="{{ rows*4 }}"  cols="110"
                        style="margin-left: 1.4rem;"
                        placeholder="prompt w placeholers"
                    >{{ sLong }}</textarea>

                </div>

            {% endfor %}



            <input    name="pipeline{{loop.index}}_del" type="checkbox"   title="delete"
                style="margin-left: 2.85rem"  >

        </div>


    {% endfor %}


    <button accesskey="s" xx-autofocus><u>S</u>ubmit</button>
</form>

