
<div id="progress-animation-outer">
    <img id="progress-animation" 
        src="/static/img/progress-animation.svg" 
        alt="loading..."
    >
</div>


<style>

    #progress-animation-outer {
        width:100%;
        display: flex;
        justify-content: center;
    }

    #progress-animation {
        border: 4px solid gray;
        border: none;
    }

    #progress-animation-outer {
        border: 4px solid gray;
        border: none;
        /* display: none; */
    }

</style>
