* {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size:    14px;



}

/* https://picocss.com/docs/css-variables */
:root {
	--pico-border-radius: 0.42rem;

	--pico-form-element-spacing-vertical:   0.25rem;
	--pico-form-element-spacing-horizontal: 1.00rem;

	/* not pico - the secondary color set of pico is useless */
	--secondary-background: #efe7af;
	--tertiary-background:  #efe78d;

	--content-max: 72rem;
}

h1, h2, h3, h4, h5, h6 {
  --pico-font-weight: 500;
}
h3 {
	--pico-font-size: 1.25rem;
}
h4 {
	--pico-font-size: 1.15rem;
}
/* 
	color sets...

	created using https://picocss.com/docs/version-picker
	copied from the non-"min" file
	changed "primary" to secondary

	then study:
	https://picocss.com/docs/css-variables
	and fill into folloing selector  
*/
[data-theme="light"],
:root:not([data-theme="dark"]) {
	/* --pico-secondary-background: #756b00; */
	--xxx: dummy;
}

/* unset some pico css  */
[type=checkbox]~label:not(:last-of-type),
[type=radio]   ~label:not(:last-of-type) {
    margin-inline-end: unset;
}



h1, h2, h3 {
	margin-top:    1.4rem;
	margin-bottom: 0.28rem;
}



p {
	margin-top:    0.1rem;
	margin-bottom: 0.1rem;
}

ul {
	margin: 0;
}

ul.main-body li {
	margin: 0.2rem 0;
}


 /*
	====================================
*/


header {
	background-color: var(--pico-primary);
	/* color: var(--pico-primary-inverse); */
}
nav li a {
	color: var(--pico-primary-inverse);
}



main {
	padding: 0.4rem 1rem;
	max-width:   var(--content-max);
	margin-left:  6rem !important;
	margin-right: auto;
	/* border: 1px solid red;; */
}

.small {
	font-size: 80%;
}

#partial-ui-wrapper {

	display: flex;
	flex-direction: column;
	flex-wrap:      wrap;
	row-gap: 0.2rem;

	width: 100%;
	max-width:   var(--content-max);

	padding: 0.2rem   0.4rem;
	margin:  0.2rem   0;
	border: none;


	background-color: var(--secondary-background);
	border-radius: var(--pico-border-radius);

}

form.frmPartial  {
	flex-basis:  45%;
}

#partial-ui-wrapper ul {
	flex-basis:  45%;
}

form.frmPartial label,
.label-input,
dummy {
	display: inline-block;
	min-width: 14rem;
}

.label-input {
	min-width: 8rem;
	vertical-align: top;
}


/* vertical align of label and checkbox  */
form.frmPartial input[type="checkbox"] {
	margin: 0.35rem 0;
}







/* can be a benchmark or a sample */
.item-row {
	display: flex;
	width: 100%;
	flex-direction: col;
	row-gap: 0.2rem;
	flex-wrap: wrap;
}

.item-shrt, .item-long {
	margin:  0      0.4rem;
	padding: 0.1rem 0.2rem;

	/* width: 100%; */
}

.item-shrt {
	flex-basis:  12rem;
	max-width:   10rem;

	text-transform:   capitalize;
}

.item-long {
	/* width: 80%; */
	font-size: 91%;
	flex-basis:  calc(92% - 10rem);
}


.speech-row {
	display: flex;
	width: 100%;
	flex-direction: col;
	row-gap: 0.2rem;
	flex-wrap: wrap;
}


table.results {
	margin:  0;
	margin-top: 0.02rem;
	padding: 0.2rem 0.1rem;
}

table.results td {
	margin:  0;
	padding: 0.2rem 0.8rem;
	padding-left: 0.4rem;

	position: relative;
}

/* first row */
table.results tr:first-child  td{
	background-color: lightgray;
	text-transform: capitalize;
	vertical-align: top;
	padding: 0.2rem 0.2rem;
	line-height: 100%;
	font-size: 85%;
	cursor: pointer;
}

/* first column */
table.results td:first-child {
	background-color: lightgrey;
	text-transform: capitalize;
	font-size: 85%;
	cursor: pointer;
}

table.results .col1-numbering {
	display: inline-block;
	font-size: 80%;
	margin-right: 0.2rem;
}



table.results span.number {
	display:    block;
	font-size:  50%;
	line-height:60%;
}

table.results div.bar {
	background-color: rgb(173, 216, 230);
	background-color: rgb(143, 176, 190);
	height: 1.2rem;
	margin-top: 0.2rem;

	border-bottom: 3px solid transparent;

	display: inline-block;

}


table.results div.max-cell {
	border-bottom: 3px solid rgb(113, 136, 160);
}




/*
	link / button to chat completion
*/
table.results form,
dummy {
	margin: 0;
	padding:0;
	display: inline-block;
	/* display: block; */
	line-height: 0.5rem;
	vertical-align: top;
	margin-top:  0.34rem;
	/* margin-left: 1.24rem; */

	position: absolute;
	right: 0.5rem;
}
table.results .llm-submit {
	font-size: 33%;
	height: 1.04rem;
	margin: 0;
	padding:0 0.2rem;
	display: inline-block;
	border: none;
	color: black;
	background-color: lightgray;
	opacity: 0.5;
}


.quant01{
	opacity: 1;
}
.quant02{
	opacity: 0.75;
}
.quant03{
	opacity: 0.5;
}
.quant04{
	opacity: 0.2;
}

.neg-factor-loading {
	border-left: 2px solid rgb(190, 26, 29);
}


input {
	vertical-align: top;
}

p.inp {
	font-size: 100%;
}

span.context1 {
	font-size: 79%;
	display: inline-block;
	display: block;
	margin-left: 2rem;

}

span.context2 {
	font-size: 79%;
	display: inline-block;
	line-height: 95%;
	padding-top: 0.2rem;
}

span.embed-pre {
	font-size: 79%;
	font-size: 78%;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	/* font-stretch: condensed;
	font-stretch: expanded; */
	font-stretch: ultra-condensed;
	letter-spacing: -0.4px;

	display: inline-block;
	min-width: 6rem;

}

p.embeds {
	font-family: 'Courier New', Courier, monospace;
	/* text-wrap: nowrap; */
	white-space: pre;
	font-size: 87%;
	margin-left: 2rem;
}






.toggle-container {

	width: 100%;
	max-width:   var(--content-max);

	padding:  0 0.3rem;
	padding-bottom: 0.3rem;
	margin:  0.2rem   0;
	border: none;

	border-radius: var(--pico-border-radius);
	background-color: var(--tertiary-background);

}

.toggle-head {
	margin-top: 0;
	font-weight: normal;
    cursor:  pointer;
    /* display: flex; */
    /* align-items: center; */
}

.toggle-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.toggle-body.open {
	/* adjust based on your content's height */
    max-height: 12rem; /* Adjust based on your content's height */
    max-height: 44rem;

	transition: max-height 0.2s ease-in;
}

.toggle-indicator {
    font-size:   120%;
    margin-left: 10px;
}



.pre-llm {
	white-space: pre;
	white-space: pre-line;
	white-space: pre-wrap;

	display: inline-block;
	max-width:   var(--content-max);

	padding: 0.2rem;

	border-radius: var(--pico-border-radius);
	background-color: var(--secondary-background);

}



