<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>Async Fetch Example</title>
    <style>
        #result {
            margin-top: 20px;
        }
        .loading {
            display: none;
        }
        .loading.active {
            display: inline-block;
        }
    </style>
</head>
<body>
    <h1>Async Fetch Example</h1>
    
    <button id="fetchButton">Fetch Data</button>
    <div id="result"></div>
    <div class="loading" id="loadingIcon">Please wait...</div>

    <script src="fetch-embeddingsjs"></script>

</body>
</html>
