<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>{{ HTMLTitle    |safe }}</title>

    <meta   charset="utf-8">
    <meta   name="viewport"                 content="width=device-width, initial-scale=1">

    <meta   name="color-scheme"             content="light dark">
    <!-- created using https://picocss.com/docs/version-picker -->
    <link   href="../static/css/pico.fluid.classless.slate.min.css"   rel="stylesheet" >
    <link   href="../static/css/app.css"    rel="stylesheet" >

    <script src="../static/js/app.js"></script>

    <!-- better: web app route def favicon(): -->
    <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"> -->
</head>


<body>

    <header>



        <nav>
            <ul>
                <li>
                    <!-- logo -->
                    <a href="/"               >
                        <img id="progress-animation"
                            src="/static/img/logo.svg"
                            alt="logo"
                            style="
                                width:3rem;
                                aborder: 2px solid red;
                            "
                        >
                        <!-- Text Classifier -->
                    </a>
                </li>

                <li>
                    <a href="/" accesskey="h" > <u>H</u>ome</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>

    {{ cntBefore    |safe }}


    {% if username is defined %}
        {% if username != "": %}
        <!--
            {% include "partials/login.html" %}
        -->
        {% endif %}
    {% else %}
    {% endif %}


    {% if contentTpl is defined %}

        <!-- <div>contentTpl is defined {{contentTpl}}</div> -->

        {% if contentTpl!="" %}
            {% include "partials/" ~ contentTpl ~ ".html" %}

        {% else %}

            {% if contentTpl=="contexts" %}
                {% include "partials/contexts.html" %}
            {% endif %}

        {% endif %}



    {% else %}


    {% endif %}

    {{ cntAfter    |safe }}


    </main>


</body>

</html>