

:root {

    /* 
        "100%" is the auto-width of the <h3> or <p> element 
           depending on its contents.
        We want "vw"
    */

    --section-with: calc( min(95% , 72rem));
    --section-with: calc( min(95vw, 72rem));

    --section-margin: calc(   (100vw - var(--section-with))  / 2) ;



}

/*  first div inside body  */
div.reveal.slide {
    /* background-color: goldenrod !important; */
    border:none;
}

/*  second div inside above div  */
div.slides {
    /* background-color: lightgreen !important; */
    border:none;
}

/*  thirst nesting level  */
section {
    border-radius: 1rem;
    background-color: #f8f8f8;
    box-sizing: border-box;

    /* waste a little for aesthetics */
    margin-top: 2vh;


    /*  
        self-sizing - depending on content;
        sadly, "margin-left: auto" now no longer works
    
    */
    width:       auto     !important;

    /* 
        luckily - we can achieve the same effect:
            half the screen  to the right
            half the element to the left

            we would use 50vw - but we must compensate the 2vm margins of parent div.slides  - 
    */
     transform:   translateX(calc(48.0vw - 50%))   ;


    /*  now wide and narrow slides are neatly centered
        whereas their contents is left-justified
    */

}






.reveal h2, 
.reveal h3,
.reveal p,
.reveal ol,
.reveal ul,
dummmy
{
    text-align:    left;
    margin-left:   2vw;
}

.reveal ol,
.reveal ul,
dummmy
{
    margin-left:   4vw;
}


.reveal li {
    list-style-position: outside;
    margin-left:  2.0rem;
    padding-left: 1.4rem;

    /* make bullets more vertically separate... */
    margin-bottom:  1.08rem ;
    /*   ... but keep them dense inside */
    line-height: 110%      ;
}

/* ul - if child of a li */
.reveal li ul {
    margin-top:  1.08rem;
}


.reveal pre.code-wrapper {
    max-width:  64rem ;
} 
.reveal pre code {
    max-height: 32rem ;
    max-width:  64rem ;
    font-size:  90%;
}




